Flask==2.0.3
Flask-Cors==3.0.10
gunicorn==20.1.0
Jinja2==3.0.3
nltk==3.7
numpy==1.22.3
cpu/torch-0.3.0.post4-cp27-cp27m-linux_x86_64.whl
cpu/torchvision-0.10.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
tqdm==4.63.0
